smx/components/words/src/main/resources/META-INF/wsdl/WordsService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="WordsService" targetNamespace="http://words.components.coding.sdo.org/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://words.components.coding.sdo.org/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <wsdl:types>
        <xs:schema xmlns="http://words.components.coding.sdo.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   attributeFormDefault="unqualified" elementFormDefault="unqualified"
                   targetNamespace="http://words.components.coding.sdo.org/">
            <xs:complexType name="translateWordRequest">
                <xs:sequence>
                    <xs:element minOccurs="0" name="fromLanguage" type="xs:string"/>
                    <xs:element minOccurs="0" name="toLanguage" type="xs:string"/>
                    <xs:element minOccurs="0" name="word" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="translateWordResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="fromLanguage" type="xs:string"/>
                    <xs:element minOccurs="0" name="toLanguage" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="translations" nillable="true"
                                type="xs:string"/>
                    <xs:element minOccurs="0" name="word" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="translateWordRequest" type="translateWordRequest" />
            <xs:element name="translateWordResponse" type="translateWordResponse"/>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="translateWordRequest">
        <wsdl:part name="parameters" element="tns:translateWordRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="translateWordResponse">
        <wsdl:part name="parameters" element="tns:translateWordResponse">
        </wsdl:part>
    </wsdl:message>

    <wsdl:portType name="WordsServiceEndpoint">
        <wsdl:operation name="translateWord">
            <wsdl:input name="translateWordRequest" message="tns:translateWordRequest"/>
            <wsdl:output name="translateWordResponse" message="tns:translateWordResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="WordsServiceSoapBinding" type="tns:WordsServiceEndpoint">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="translateWord">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="translateWordRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="translateWordResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="WordsServiceEndpointService">
        <wsdl:port name="WordsService" binding="tns:WordsServiceSoapBinding">
            <soap:address location="http://localhost:9090/WordsServicePort"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
